<html>
<head>
<title>personal_elig</title>

<meta name="viewport" content="width=device-width, initial-scale=1">  

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 

</head>
<body>
<nav>
  <div class="container">
    <div class="navbar-header"></div>

    <a href="#" style="align-content: left;"><%= image_tag "home1.jpg", height:100 %></a>
    <ul class="nav navbar-nav navbar-right">
      
        <li style="font-size: 18px;" class="active"><a href="../pg/homepg">Home</a></li>
        <li style="font-size: 18px;"><a href="../pg/about">About</a></li>
        <li style="font-size: 18px;" class="nav-item dropdown">
  
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">Types of Loans</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="../pg/personal">Personal Loan</a><br>
            <a class="dropdown-item" href="../pg/homeloan">Home Loan</a><br>
            <a class="dropdown-item" href="../pg/education">Education Loan</a><br>
            <a class="dropdown-item" href="../pg/car">Car Loan</a><br>
            <a class="dropdown-item" href="../pg/mortgage">Mortgage Loan</a><br>
          </div>
        </li>
        <li style="font-size: 18px;"><a href="../pg/eligibility">Eligibility</a></li>
        <li style="font-size: 18px;"><a href="../pg/plans">Plans</a></li>
        
        <li style="font-size: 18px;"><%= link_to "Log Out ", controller: "sessions", action: 'destroy' %></li>
        
    </ul>
  </div>
</nav>
<div style="padding: 3%;">
<h1>Personal Loan Eligibility Check</h1>
<%= render 'form', personal_info: @personal_info %>
</div>

</body>
</html>