<html>
<head>
	<title>education</title>

<meta name="viewport" content="width=device-width, initial-scale=1">  

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>   
</head>

<body>

<nav>
  <div class="container">
    <div class="navbar-header"></div>

    <a href="#" style="align-content: left;"><%= image_tag "home1.jpg", height:100 %></a>
    <ul class="nav navbar-nav navbar-right">
			
      	<li style="font-size: 18px;" class="active"><a href="homepg">Home</a></li>
      	<li style="font-size: 18px;"><a href="about">About</a></li>
      	<li style="font-size: 18px;" class="nav-item dropdown">
      		
      		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">Types of Loans</a>
      		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
      			<a class="dropdown-item" href="personal">Personal Loan</a><br>
    				<a class="dropdown-item" href="homeloan">Home Loan</a><br>
    				<a class="dropdown-item" href="education">Education Loan</a><br>
    				<a class="dropdown-item" href="car">Car Loan</a><br>
    				<a class="dropdown-item" href="mortgage">Mortgage Loan</a><br>
                </div>
            </li>
    		<li style="font-size: 18px;"><a href="eligibility">Eligibility</a></li>
     		<li style="font-size: 18px;"><a href="plans">Plans</a></li>
      	
      	<li style="font-size: 18px;"><%= link_to "Log Out ", controller: "sessions", action: 'destroy' %></li>
      	
    </ul>
  </div>
</nav>

<h1 style="text-align:center">EDUCATION LOAN</h1>
<%= image_tag("e1.jpg", :style => 'height: 500px; width: 900px; position:relative; right:25%; left:25%')%>

<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <h2>Features</h2>
            <ul>
            An education loan is a type of loan designed to help students pay for post-secondary education and the associated fees, such as tuition, books and supplies, and living expenses. It may differ from other types of loans in the fact that the interest rate may be substantially lower and the repayment schedule may be deferred while the student is still in school or college</ul>
        </div>
        
       	<div class="col-xs-4">
            <h2>Eligibility</h2>


	<ul>COURSES ELIGIBLE FOR EDUCATION LOAN

<li>Undergraduate degrees/diplomas and special courses.</li>
<li>Postgraduate degrees/diplomas and special courses.</li>
<li>PhDs and Doctoral Programmes.</li>
</ul>

<ul>SPECIALISED COURSES ELIGIBLE FOR EDUCATION LOAN
<li>Computer certificate course</li>

<li>Engineering diploma</li>

<li>Certificate courses from ITI</li>

<li>Data entry operator course</li>

<li>Nursing/Teacher Training certificate courses and B.Ed.</li>

<li>Agri diploma</li>

<li>Veterinary diploma</li>

<li>Any job-oriented diploma or certificate course</li>

<li>Degree or diplomas for aeronautics, pilot training, shipping held by recognized regulatory bodies for the purpose of employment in India or abroad</li>

<li>Vocational courses run by a government organization or department</li>

<li>Courses run by State Skill Missions, State Skill Corporations, or National Skill Development Corporation</li>

</ul>


    </div>
      <div class="col-xs-4">
      <h2>Documents required</h2>
<ul>
        <li>Duly-filled application form.</li>

<li>2 passport size photographs.</li>

<li>Graduation, Secondary School Certificate, or High School Certificate or mark sheets</li>

<li>KYC documents that include ID, address, and age proof.</li>

<li>Signature Proof</li>

<li>Income Proof of parents or guardian</li>

<li>If collateral is required, documentation for Immovable property, FDs, etc.</li>

<li>For students interested in a loan to study abroad, they will need to provide the documents below.</li>

<li>Duly-filled application form.</li>

<li>2 passport size photographs.</li>

<li>KYC Documents that include ID, residence and age proof.</li>

<li>A copy of statement of marks or certificates of last examination passed.</li>

<li>Proof of admission to the university and the course
</li>
<li>Schedule of course expenses</li>

<li>If you have received a scholarship, a copy of the scholarship letter is needed.</li>

<li>Copy of Foreign Exchange permit if you have it.</li>

<li>Bank account statement for last six months of the borrower, parents or guardian.</li>

<li>Last 2 years’ Income Tax assessment of the borrower, parents or guardian.</li>

<li>For loans with collateral, the details of security offered must be furnished. You might also be required to provide an advocate’s search and report about its marketability, mortgage ability, etc.</li>

<li>Proof of the source of margin is required.</li>
</ul>
</div>
</div>
</div>

<div style="text-align:center;">
<a href="eligibility" class="btn btn-info">Check Eligibility</a>
</div>
</body>
</html>